:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --mainText: black;
    --secondaryText: #4b5156;
    --borderColor: #c1c1c1;
    --previewBg: rgb(251, 249, 243, 0.8);
    /* Theme dot border, to be changed dynamically */
    --themeDotBorder: #24292e;
    --previewShadow: #f0ead6;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    /* Ensure they have the same properties */
    color: var(--mainText);
    font-family: 'Ubuntu', sans-serif;
}


/* Font sizes */

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
    /* Ensure the colors are easier to note */
    color: var(--secondaryText);
    font-family: 'Roboto', sans-serif;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-text {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 10px;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    /* Grid Templates */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


/* The dots */

.dots {
    display: flex;
    padding: 10px;
}

.mac-dots {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    /* Shadow */
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}


/* Individual dots */

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Left column */


/* Profile Pic */

#profile-pic {
    display: block;
    margin: 0 auto;
    width: 265px;
    height: 280px;
    object-fit: cover;
    border: 2px solid var (var(--borderColor));
}


/* The dots */

#theme-options {
    display: flex;
    justify-content: center;
}

.theme-dots {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    /* Shadow */
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border: 2px solid var(--themeDotBorder);
}

.theme-dots:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}


/* Right Column */

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    height: 200px;
    padding: 15px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    position: relative;
}

.corner {
    border: 1.5px solid #17a2b8;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}


/* Remove underline from tags and give them light blue color  */

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}


/* The footer */

.footer {
    position: relative;
}

#copy-text {
    text-align: center;
}


/* About Section */

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}


/* Proejects section */

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: scale-down;
}

.project {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.project-preview {
    background-color: #fff;
    padding: 15px;
}

.project-title {
    color: black;
    margin: 0;
}

.preview-intro {
    color: #4b5156;
    font-size: 14px;
}

#ewayv {
    object-fit: cover;
}


/* Footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    padding-bottom: 60px;
    padding: 20px;
}


/* Make it responsive on small screens */

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
    }
    .right-column {
        justify-content: center;
    }
}